.studentflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  min-height: 50vh;
}
img {
  padding: 5px;
  height: 150px;
  width: 100px;
}
.cardstudent {
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
}
.teacherpageflex {
  display: flex;
  justify-content: space-around;
}
.input-container{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  

}
.input-student{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-color: black;
}

.teacher-file{
  
  display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.whatsApp{
  margin-bottom:  5vh;;
}
@media screen and (max-width: 576px) {
  .studentflex img {
    height: 90px;
    /* width: 60px; */
  }
  .cardstudent {
    padding: 8px;
    margin: 4px;
  }
  .teacherpageflex{
    flex-wrap: wrap;
  }
}