.page-text {
  font-size: 20px;
 
}
.headline {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 40px;
}
.bodyaboutus {
  display: flex;
  justify-content: center;
}
.imgaboutus {
  float: left;
  height: 300px;
  width: 300px;
}
.page-font {
  font-family: "Comic Sans MS", "Comic Sans";
  width: 80vw;
}
@media screen and (max-width: 768px){
  .headline{
    font-size: 1rem;
  }
  .page-text{
    font-size: 0.8rem;
  }
  .imgaboutus {
    margin-left: 15vw;
    height: 20vh;
    width: 50vw;
  }
}